@charset "UTF-8";
/*********RESET**********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*********FONTS**********/
/*********BASE***********/
body {
  background-color: #e9eae2;
}

div, input, textarea {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.4;
  margin-bottom: 15px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  font-size: 14px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000;
  transition: color .2s,  border .2s;
}
a:hover {
  color: #fb9f46;
}

p {
  font-family: "Roboto Condensed", Arial, sans-serif;
  line-height: 1.4;
  margin-bottom: 15px;
}

/*********GRID***********/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.wrapper {
  max-width: 1500px;
  margin: auto;
}

/********MODULES*********/
.logo, .menu {
  min-height: 500px;
  position: relative;
}

.menu {
  padding-top: 50px;
  background-color: #7acec3;
}

.prod-content {
  max-width: 160px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 45px;
  left: 150px;
}
.prod-content ul {
  text-align: center;
}
.prod-content ul li {
  display: inline-block;
}
.prod-content ul li a {
  color: #7acec3;
  font-size: 18px;
  display: block;
  width: 28px;
}
.prod-content ul li a:hover {
  color: #000;
}

.logo-text {
  color: #393d3c;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.logo-social {
  margin-top: 50px;
}

.facebook a:before {
  content: "";
  font-family: "Flaticon";
}

.twitter a:before {
  content: "";
  font-family: "Flaticon";
}

.linkid a:before {
  content: "";
  font-family: "Flaticon";
}

.gplus a:before {
  content: "";
  font-family: "Flaticon";
}

.menu-toggle {
  text-align: center;
}
.menu-toggle a {
  display: inline-block;
  margin: auto;
  width: 125px;
  height: 115px;
  border: 2px solid #fff;
  line-height: 110px;
  font-size: 33px;
  color: #fff;
}
.menu-toggle a:hover {
  color: #000;
  border: 2px solid #000;
}
.menu-toggle a:before {
  font-family: "Flaticon";
  content: "";
}

.menu-adress, .menu-telephone {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
}

.menu-adress {
  max-width: 100px;
  left: 60px;
  bottom: 170px;
}

.menu-telephone {
  max-width: 140px;
  left: 135px;
  bottom: 100px;
}

.projects, .lamp, .chair, .armchair, .tabano, .potter, .fiji, .sofa, .alessi, .timeline {
  position: relative;
}
.projects img, .lamp img, .chair img, .armchair img, .tabano img, .potter img, .fiji img, .sofa img, .alessi img, .timeline img {
  position: absolute;
}

.projects, .lamp, .chair, .armchair, .tabano {
  min-height: 500px;
}

.potter, .fiji {
  min-height: 250px;
}

.sofa, .alessi, .timeline {
  min-height: 300px;
}

.projects {
  background-color: #ebb240;
}

.lamp {
  background-color: #fff;
}

.chair {
  background-color: #718190;
}

.armchair {
  background-color: #eaeaea;
}

.potter {
  background-color: #dfe0d9;
}

.tabano {
  background-color: #f7f7f3;
}

.fiji {
  background-color: #fff;
}

.sofa {
  background-color: #fff;
}

.alessi {
  background-color: #cecece;
}

.timeline {
  background-color: #ebb240;
}

.section-header {
  position: absolute;
  right: 120px;
  bottom: 140px;
  color: #fff;
}

.projects-menu {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding-left: 20px;
  max-width: 120px;
  position: absolute;
  top: 150px;
  left: 165px;
}
.projects-menu a {
  display: block;
  padding: 2px;
  color: #fff;
}
.projects-menu a:hover {
  color: #000;
}
.projects-menu a:hover:before {
  content: "";
  font-family: "Flaticon";
  position: absolute;
  left: 2px;
  color: #000;
}

.projects-active a {
  color: #000;
}
.projects-active a:before {
  content: "";
  font-family: "Flaticon";
  position: absolute;
  left: 2px;
}

.meta {
  position: absolute;
  font-size: 12px;
  top: 70px;
  left: 75px;
  max-width: 240px;
}
.meta p {
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
}
.meta a {
  font-weight: 300;
}

.view {
  position: absolute;
  top: 250px;
  left: 75px;
}
.view a {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.view a:before {
  content: "";
  font-family: "Flaticon";
  color: #ebb240;
  padding-right: 5px;
}

.like {
  position: absolute;
  left: 140px;
  bottom: 60px;
}
.like a {
  display: block;
}
.like a:before {
  content: "";
  font-family: "Flaticon";
  font-size: 24px;
}
.like p {
  font-size: 10px;
  font-weight: 300;
  color: #F00;
  margin-bottom: 0;
}

.chair {
  color: #e9eced;
}
.chair a {
  color: #e9eced;
}
.chair a:hover {
  color: #000;
}
.chair .meta {
  left: 25px;
  top: 35px;
}
.chair .view {
  left: 25px;
  top: 160px;
}
.chair .like {
  left: 80px;
  top: 200px;
  bottom: auto;
}

.armchair .meta {
  right: 210px;
  top: 85px;
  left: auto;
}
.armchair .view {
  left: auto;
  right: 50px;
  top: 90px;
}
.armchair .like {
  left: auto;
  right: 95px;
  top: 135px;
  bottom: auto;
}

.potter .meta {
  right: auto;
  top: 30px;
  left: 40px;
  bottom: auto;
  max-width: 150px;
}
.potter .view {
  left: 40px;
  right: auto;
  top: 170px;
  bottom: auto;
}
.potter .like {
  left: 100px;
  right: auto;
  top: 200px;
  bottom: auto;
}

.tabano .meta {
  right: auto;
  top: auto;
  left: 60px;
  bottom: 40px;
}
.tabano .view {
  left: 220px;
  right: auto;
  top: auto;
  bottom: 70px;
}
.tabano .like {
  left: 380px;
  right: auto;
  top: auto;
  bottom: 50px;
}

.fiji .meta {
  right: 40px;
  top: 40px;
  left: auto;
  bottom: auto;
}
.fiji .view {
  right: 50px;
  top: 170px;
  left: auto;
  bottom: auto;
}
.fiji .like {
  left: auto;
  right: 100px;
  top: 200px;
  bottom: auto;
}

.sofa .meta {
  right: auto;
  top: auto;
  left: 120px;
  bottom: 40px;
}
.sofa .view {
  right: auto;
  top: auto;
  left: 320px;
  bottom: 60px;
}
.sofa .like {
  right: 60px;
  top: auto;
  left: auto;
  bottom: 40px;
}

.alessi .meta {
  right: 50px;
  top: 50px;
  left: auto;
  bottom: auto;
}
.alessi .view {
  right: 50px;
  top: 180px;
  left: auto;
  bottom: auto;
}
.alessi .like {
  right: 110px;
  top: 220px;
  left: auto;
  bottom: auto;
}

.timeline .projects-menu {
  left: 60px;
  top: 55px;
}
.timeline .projects-menu h3 {
  color: #000;
}

.timeline-active a:before {
  content: "";
  font-family: "Flaticon";
  position: absolute;
  left: 2px;
  color: #fff;
}

.studio {
  min-height: 500px;
  background-color: #ff9b6d;
}

.studio-discript {
  padding-top: 50px;
  padding-bottom: 50px;
}
.studio-discript p {
  font-size: 18px;
  color: #333;
}

.light {
  font-weight: 300;
}

.studio-text, .studio-awards {
  padding-left: 30px;
  padding-right: 30px;
}

.studio-awards h3 {
  border-bottom: 1px solid #ccc;
}

.studio-img {
  margin-bottom: 15px;
  text-align: center;
}

.awards-list {
  padding-left: 5px;
  padding-right: 5px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

.offset {
  padding-top: 50px;
  padding-bottom: 50px;
}

.staff, .person {
  padding-left: 15px;
  padding-right: 15px;
}

.staff h3, .staff p {
  color: #333;
}

.person {
  margin-bottom: 10px;
}
.person h3 {
  margin-bottom: 0px;
}
.person p {
  text-transform: uppercase;
  font-weight: 300;
}

.staff-photo {
  text-align: center;
  margin-bottom: 15px;
}

.staff-cv {
  float: left;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 300;
}
.staff-cv a {
  color: #fd5000;
}
.staff-cv a:hover {
  color: #000;
}
.staff-cv a:after {
  padding-left: 5px;
  font-family: "Flaticon";
  content: "";
}

.staff-social ul {
  text-align: right;
}
.staff-social ul li {
  display: inline-block;
}
.staff-social ul li a {
  color: #fd5000;
  font-size: 18px;
  display: block;
  width: 28px;
}
.staff-social ul li a:hover {
  color: #000;
}

.news {
  background-color: #d4edbf;
  min-height: 500px;
}

.news-list {
  background-color: #e5e9df;
  padding-top: 40px;
  padding-bottom: 40px;
}

.news-content {
  padding-left: 30px;
  padding-right: 30px;
}
.news-content h2 {
  font-weight: 400;
  margin-bottom: 0;
  min-height: 70px;
}
@media (max-width: 991px) {
  .news-content h2 {
    min-height: 0;
  }
}

.news-date {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: #6a6969;
}

.news-img {
  text-align: center;
  margin-bottom: 5px;
}

.news-text {
  min-height: 90px;
}
.news-text p {
  margin-bottom: 0;
  color: #6a6969;
  font-weight: 300;
}

.read-more {
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-align: right;
  text-transform: uppercase;
}
.read-more a {
  color: #fd5000;
  padding: 5px;
}
.read-more a:hover {
  color: #000;
}

.map {
  min-height: 645px;
  background: url(../img/map.jpg);
  background-size: cover;
  background-position: center;
}

.about {
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-adress p {
  margin-bottom: 20px;
  font-size: 14px;
}

.about-logo ul {
  text-align: center;
}
.about-logo ul li {
  display: inline-block;
}
.about-logo ul li a {
  color: #7acec3;
  font-size: 18px;
  display: block;
  width: 28px;
}
.about-logo ul li a:hover {
  color: #000;
}

.credits {
  text-align: center;
  font-family: "Roboto Condensed", Arial, sans-serif;
  line-height: 1.4;
  font-size: 14px;
  margin-top: 100px;
  padding: 20px;
  clear: both;
}

/************************/
