//////////
///FONTS//
//////////

$font-Flaticon-bars: "\f100";
$font-Flaticon-cancel: "\f101";
$font-Flaticon-circle: "\f102";
$font-Flaticon-drop-down-arrow: "\f103";
$font-Flaticon-facebook-logo: "\f104";
$font-Flaticon-google-plus-symbol: "\f105";
$font-Flaticon-heart: "\f106";
$font-Flaticon-left-arrow: "\f107";
$font-Flaticon-linkedin-logo: "\f108";
$font-Flaticon-musica-searcher: "\f109";
$font-Flaticon-right-arrow: "\f10a";
$font-Flaticon-twitter-social: "\f10b";
$font-Flaticon-star: "\f10c";

$roboto: 'Roboto Condensed', Arial, sans-serif;

//////////
//COLORS//
//////////

// $cyan: #d9e1e6; 
// $darkcyan: #68899a; 
// $lightgray: #e1e1e1;
// $gray: #919a9e;
// $darkgray: #6c6c6c;
// $hover: #FF0000;

