.projects {
	background-color: #ebb240;
	min-height: 500px;
}

.lamp {
	background-color: #fff;
	min-height: 500px;
}

.chair {
	background-color: #718190;
	min-height: 500px;
}

.armchair {
	background-color: #eaeaea;
	min-height: 500px;
}

.potter {
	background-color: #dfe0d9;
	min-height: 250px;
}

.tabano {
	background-color: #f7f7f3;
	min-height: 500px;
}

.fiji {
	background-color: #fff;
	min-height: 250px;
}


.sofa {
	background-color: #fff;
	min-height: 300px;
}

.alessi {
	background-color: #cecece;
	min-height: 300px;
}

.timeline {
	background-color: #ebb240;
	min-height: 300px;
}